
//----- Colors -----

$white : #fafafa;

$grey :rgb(120, 127, 160);

$lightGrey : #6e6983;

$darkGrey : #2c293e;

$alphaBlack : rgba(0,0,0,0.6);

//----- Fonts -----

$mainFont : 'Montserrat', sans-serif;