@import "./mixins";
@import "./variables";

@include reset();

body {
    @include flexCenter(column);
    background-color: $darkGrey;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: $mainFont;

    header {
        @include flexCenter(column);
        width: 80vw;
        max-width: 1000px;
        color: $white;
        margin: 10px;
        padding: 20px;
        border-bottom: 2px solid $white;

        h1 {
            margin-bottom: 10px;
        }
    }

    main {

        section {
            background-color: $white;
            width: 80vw;
            max-width: 1000px;
            margin: 15px;
            border-radius: 3px;
            box-shadow: 0 2px 4px black;

            :hover {
                background-color:$lightGrey;
                color: $white;
                text-shadow: 1px 2px black;
                border-radius: 3px;
            }

            a {
                @include flexSpaceEven(row);
                color: $darkGrey;
                text-decoration: none;

                img {
                    width: 100px;
                    margin: 15px;
                }
            }
        }
    }

    footer {
        @include flexCenter(row);
        width: 80vw;
        max-width: 1000px;
        margin: 10px;
        padding: 10px;
        border-top: 2px solid $white;

        i {
            color: $white;
            margin: 10px 10px 0 10px;
        }
    }
}