* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #2c293e;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .background {
  width: 100vw;
  max-width: 1000px;
  opacity: 0.7;
  -webkit-box-shadow: 0 4px 15px black;
          box-shadow: 0 4px 15px black;
}

body header .dropdown {
  position: absolute;
  top: 25px;
  right: 25px;
}

@media (min-width: 1000px) {
  body header .dropdown {
    right: 15%;
  }
}

@media (min-width: 1400px) {
  body header .dropdown {
    right: 25%;
  }
}

body header .dropdown .btn {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
}

body header .dropdown .btn .lang {
  width: 40px;
  margin-right: 5px;
}

@media (max-width: 600px) {
  body header .dropdown .btn .lang {
    width: 30px;
  }
}

@media (max-width: 450px) {
  body header .dropdown .btn .lang {
    width: 20px;
    margin: 0;
  }
}

body header .dropdown .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 10px;
}

body header .dropdown .dropdown-menu a {
  color: #fafafa;
}

body header .dropdown .dropdown-menu a:hover {
  color: black;
}

@media (max-width: 700px) {
  body header .dropdown .dropdown-menu a {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  body header .dropdown .dropdown-menu a {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 450px) {
  body header .dropdown .dropdown-menu a {
    font-size: 10px;
    padding: 5px;
  }
}

body header .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20vw 0 20vw;
  padding: 10px 30px 10px 30px;
  position: absolute;
  top: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fafafa;
  border-radius: 3px;
}

@media (max-width: 700px) {
  body header .title {
    top: 5vw;
    padding: 5px 15px 5px 15px;
  }
  body header .title h1 {
    font-size: 35px;
  }
  body header .title h2 {
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  body header .title {
    top: 5vw;
    padding: 5px 15px 5px 15px;
  }
  body header .title h1 {
    font-size: 25px;
  }
  body header .title h2 {
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  body header .title {
    padding: 5px;
  }
  body header .title h1 {
    font-size: 20px;
  }
}

body main {
  background-color: #fafafa;
  max-width: 1000px;
  min-height: 50vh;
  margin: 50px 50px 0 50px;
  border-radius: 3px;
  -webkit-box-shadow: 0 4px 15px black;
          box-shadow: 0 4px 15px black;
}

body main .tab-content {
  padding-bottom: 10px;
}

body main .tab-content #home {
  padding: 25px;
}

body main .tab-content #home img {
  width: 100px;
  margin: 10px 10px 20px 25px;
  border-radius: 50px;
  float: right;
}

body main .tab-content .card {
  min-width: 80vw;
  margin: 25px;
}

@media (min-width: 1000px) {
  body main .tab-content .card {
    min-width: 950px;
  }
}

body main .tab-content .card .card-header {
  background-color: #6e6983;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .tab-content .card .card-header h5 {
  color: #fafafa;
  text-shadow: 1px 2px 2px black;
  margin: 5px;
}

body main .tab-content .card .card-header img {
  height: 25px;
  margin: 5px;
  border: 1px solid #fafafa;
  -webkit-box-shadow: 1px 2px 2px black;
          box-shadow: 1px 2px 2px black;
}

body main .tab-content .card .card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body main .tab-content .card .card-bottom .btn {
  background-color: #6e6983;
  color: #fafafa;
  text-shadow: 1px 1px black;
}

body main .tab-content .card .card-bottom .logo-tech img {
  width: 40px;
  margin-left: 10px;
}

body footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 10vh;
  max-width: 1000px;
  margin: 15px 10px 10px 10px;
  padding: 10px;
}

body footer i {
  color: #fafafa;
  margin: 0 10px 0 10px;
}
/*# sourceMappingURL=style.css.map */